body {
	background-image: url('D:/my files/swapnali doc/Html and CSSS project/7.jpg');
	color: #000305;
	font-size: 100%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #CF5C3F;

}

a:hover, a:active {
	background-color: #CF5C3F;
	color: #FFF;
}

.body {
	margin: 0 auto;
	width: 62%;
	clear: both;
}

.mainHeader img {
	width: 100%;
	height: auto;
	margin: 2% 0;
}

.mainHeader nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 7px 50px;
	height: 26px;

}

.mainHeader nav a:hover, mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: #CF5C3F;
	text-shadow: none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  }

.mainContent {
	line-height: 25px
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*overflow: hidden;*/

}

.content {
	width: 90%;
	
	float:center;
}

.topContent {
	width: 90%;  /*to increase second post */
	background-color: #FFF;
	border-radius: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10% 10%;
	margin-top: 11px;
 	margin-bottom: 20px;
 	/*text-align: left;*/

}

.bottomContent {
	width: 90%;
	background-color: #FFF;
	border-radius: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10% 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	/*text-align: left;*/
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 90%;

}

.left {
	width: 15%;
	height: 10%;
	float: left;
	background-color: #FFF;
	border-radius: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 11px;
	margin-bottom: 10px;
	padding: 5% 5%;
	

}


.middle {
	width: 17%;
	height: 10%;
	float: left;
	background-color: #FFF;
	border-radius: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 11px;
	margin-bottom: 10px;
	padding: 5% 5%;
	

} 

.right {
	width: 15%;
	height: 10%;
	
	float: left;
	/*padding-left: 10%;*/
	background-color: #FFF;
	border-radius: 100px;
	border-top-width: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 11px;
	margin-bottom: 10px;
	padding: 5% 5%;
	
	
}

.mainFooter {
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #666;
	margin-top: 2%;
	padding-left: 2%;
	margin-bottom: 2%;
}

.mainFooter p {
	width: 92%;
	height: 100%;
	margin-bottom: 10px auto;
	padding: 0%;
	color: #FFF;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.body {
	
		width: 90%;
		font-size: 95%;
		
	}

	.mainHeader img {
	width: 100%;

	}


	.mainHeader nav {
	
	height: 160px;
	
	}


	.mainHeader nav ul {
		padding-left: 0;
	}

	.mainHeader nav ul li {
		width:100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		
		
		padding: 7px 40px;
		height: 25px;
		display: block;

	}

	

.content {
	width: 100%;
	float:center;
	margin-top: 5%;
}

.post-info {
	display: none;
}
.topContent {
	width: 80%;  /*to increase second post */
	background-color: #FFF;
	border-radius: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10% 10%;
	margin-top: 11px;
 	margin-bottom: 4%;
 	/*text-align: left;*/

}

.bottomContent {
	width: 80%;
	background-color: #FFF;
	border-radius: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10% 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	/*text-align: left;*/
}


	.left, .middle, .right {
	width: 80%;
	margin: 2% 0 2% 0;
	padding: 10% 10%;
	

}




}